@model IEnumerable<Zakupowo.Models.Category>
@{
ViewBag.Title = "Lista kategorii";
}

<h2>Lista kategorii</h2>

@if (Model.Any())
{
<table class="table">
    <thead>
    <tr>
        <th>Nazwa</th>
        <th>Kategoria nadrzędna</th>
        <th>Akcje</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var category in Model)
    {
    <tr>
        <td>@category.Name</td>
        <td>@(category.ParentCategory?.Name ?? "Brak")</td>
        <td>
            @Html.ActionLink("Generuj cennik PDF", "GeneratePdf", "Category", new { categoryId = category.CategoryId }, new { @class = "btn btn-primary btn-sm" })
        </td>
    </tr>
    }
    </tbody>
</table>
}
else
{
<p>Nie znaleziono żadnych kategorii.</p>
}
