@model IEnumerable<Zakupowo.Models.Category>
@{
ViewBag.Title = "Lista kategorii";
}

<h2>Lista kategorii</h2>

@if (Model.Any())
{
<ul>
    @foreach (var category in Model)
    {
    @Html.Partial("_CategoryTree", category)
    }
</ul>
}
else
{
<p>Nie znaleziono żadnych kategorii.</p>
}
